<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>283608710721-6cgds1v1ciqcot8m2qhuje0tqm5lludl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.283608710721-6cgds1v1ciqcot8m2qhuje0tqm5lludl</string>
	<key>API_KEY</key>
	<string>AIzaSyAs0GnuxRwFue58oRzgCboUMwWMS07GDbw</string>
	<key>GCM_SENDER_ID</key>
	<string>283608710721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moolman.Realm-Test02</string>
	<key>PROJECT_ID</key>
	<string>tweet-firebase-aws</string>
	<key>STORAGE_BUCKET</key>
	<string>tweet-firebase-aws.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:283608710721:ios:110e97d6af49163e1010c0</string>
</dict>
</plist>